/*----- GENERAL --------------------------*/

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #000;
	font-weight: 400;
	background-color: #FFF;

}

.section {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.container {
	position: relative;
	padding: 0 16px;
	margin: 0 auto;
	max-width: 1000px;
	overflow: hidden;
}

/*
@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}
*/


/*----- TYPOGRAPHY --------------------------*/

h1, h2, h3, h4, p, a {
	margin: 0;
	-ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
	-webkit-hyphens: none;
   	-moz-hyphens: none;
    hyphens: none;
}


h1 {
	font-size: 50px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

p {
	line-height: 24px;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
  color: green; 
}


/*----- HERO --------------------------*/

#hero {
	
}




