/*----- GENERAL --------------------------*/
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 400;
  background-color: #FFF; }

.section {
  position: relative;
  width: 100%;
  overflow: hidden; }

.container {
  position: relative;
  padding: 0 16px;
  margin: 0 auto;
  max-width: 960px;
  overflow: hidden; }

@media (min-width: 30em) {
  .row {
    width: 100%;
    display: table;
    table-layout: fixed; }

  .col {
    display: table-cell; } }
.clearfix {
  overflow: auto; }

/*----- TYPOGRAPHY --------------------------*/
h1, h2, h3, h4, p, a {
  margin: 0;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none; }

h1, h2, h3, h4 {
  font-weight: 700; }

h1 {
  font-size: 64px; }

h2 {
  font-size: 36px;
  line-height: 40px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

p {
  line-height: 36px; }

a {
  text-decoration: none; }

/*----- HERO --------------------------*/
#hero {
  background: #535e94;
  padding: 40px 0; }

.logo-container {
  float: left;
  clear: left;
  max-width: 56px;
  height: auto; }
  .logo-container img {
    width: 100%; }

.coming-soon {
  float: right;
  font-weight: 400; }
  .coming-soon a {
    color: #fff; }

.headline {
  margin: 100px 0;
  color: #FFF;
  text-align: center; }
  .headline h1 {
    padding: 20px 0; }
  .headline h3 {
    font-weight: 400;
    color: #cbced0; }

/*----- DESCRIPTION ------------------------*/
.description {
  padding: 40px 80px;
  color: #535e94; }

/*----- FEATURES LIST ------------------------*/
.features-wrapper {
  margin: 20px 0;
  padding: 40px 0; }

.feature-left, .feature-right {
  margin: 0px 0;
  padding: 40px 0; }

.feature-left-image {
  padding: 0 40px 60px 0;
  float: left; }

.feature-right-image {
  padding: 0 0 60px 40px;
  float: right; }

.feature-left-image img, .feature-right img {
  width: 200px;
  height: auto; }

.feature-left-copy, .feature-right-copy {
  width: 65%; }
  .feature-left-copy h2, .feature-right-copy h2 {
    padding-bottom: 30px;
    color: #303030; }
  .feature-left-copy p, .feature-right-copy p {
    color: #a4a4a4; }

.feature-left-copy {
  float: right; }

.feature-right-copy {
  float: left; }

/*----- DETAILS --------------------------*/
#details {
  background: #535e94;
  padding: 40px 0;
  text-align: center;
  color: #FFF; }
  #details p {
    text-align: left;
    font-size: 14px;
    line-height: 24px; }

.detail {
  padding: 30px 0; }
  .detail h4 {
    padding: 20px 0; }

.detail-spacer {
  width: 30px;
  vertical-align: baseline; }

/*----- NEWSLETTER --------------------------*/
#newsletter {
  background: #535e94;
  color: #FFF;
  padding: 40px 0; }

.optin-container {
  max-width: 600px;
  margin: 0 auto; }
  .optin-container h2 {
    padding: 20px 0; }

form {
  padding: 40px 0; }

input {
  width: 100%;
  vertical-align: baseline;
  display: inline-block;
  border: 0; }

.optin-form input {
  background: #FFF;
  vertical-align: top;
  color: #1d1d1d;
  outline: none;
  font-size: 16px;
  padding: 0 10px;
  height: 50px;
  text-indent: 8px;
  font-family: "Lato",sans-serif;
  -webkit-appearance: none;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px; }

.btn-container {
  padding: 40px 0; }

button {
  outline: none;
  padding: 0 40px;
  text-align: center;
  color: #FFF;
  font-family: "Lato",sans-serif;
  height: 50px;
  border: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background-color: #7ecb3d; }

/*
button:hover {
  background-color: ;
}

button:active {
  background: ; 
}

button:focus {
  outline: 0; 
}
*/
/*----- FOOTER --------------------------*/
#footer {
  background: #4a4a4a;
  color: gray;
  text-align: center;
  padding: 40px 0; }

.twitter-button-container {
  padding: 30px 0; }

/*----- MEDIA QUIERES --------------------------*/
@media screen and (max-width: 831px) {
  .container {
    padding: 0 20px; }

  .row {
    display: block; }

  f
  .col {
    display: block; }

  .feature-list {
    text-align: center;
    margin: 0 auto;
    width: 100%; }

  .description {
    margin: 0;
    padding: 40px 40px 0 40px;
    text-align: left; }

  .feature-left, .feature-right {
    padding: 40px 0;
    margin: 0;
    text-align: center; }

  .feature-left-copy, .feature-right-copy,
  .feature-left-image, .feature-right-image {
    float: none;
    display: block;
    width: 100%; }

  .feature-left-copy, .feature-right-copy {
    padding: 0;
    margin: 0; }

  .feature-left-image, .feature-right-image {
    padding: 50px 0; }

  #details p {
    text-align: center; }

  .btn-container {
    padding: 10px 0; }
    .btn-container button {
      width: 100%; } }
